[Unit]
Description=Temperature sensors service

[Service]
User=opensolar
WorkingDirectory=/home/opensolar/OpenSolarController/
ExecStart=/home/opensolar/OpenSolarController/.venv/bin/python3 osTempSensors.py

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
